{{#bs-navbar homeRoute='index' class='navbar-default navbar-fixed-top' name='Ember Bootstrap'}}
  {{#link-to 'navbar' tagName='li'}}
    {{link-to 'Navbar' 'navbar'}}
  {{/link-to}}
{{/bs-navbar}}

<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<button class="btn btn-info">Hello</button>
